@media (max-width: 991.98px) {
    .offcanvas-collapse {
        position: fixed;
        top: 56px;
        bottom: 0;
        left: 100%;
        width: 100%;
        padding-top: 1rem;
        padding-right: 1rem;
        padding-left: 1rem;
        overflow-y: auto;
        visibility: hidden;
        background-color: #ffffff;
        border-top: 1px solid #e9e9e9;
        transition-timing-function: ease-in-out;
        transition-duration: .3s;
        transition-property: left, visibility;
        z-index: 9999;
    }
    .offcanvas-collapse.open {
        left: 0;
        visibility: visible;
    }
}
